.productCard{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 20px ;
    border: 2px solid black;
    border-radius: 22px;
}
.productTitle{
    align-self: center;
}
.productDetails{
    /*background-color: #999999;*/
    width: 100%;
    /*margin: auto ;*/
}

.productItems{
    width: 90%;
    height: 50px;
    display: flex;
    margin: 10px;
    align-items: center;
}
.productItems .left {

}
/*.productItems .right {*/
/*    width: 40%;*/
/*}*/

/*.productQuantityCount{*/
/*    width: 100%;*/
/*    flex-direction: row-reverse;*/
/*    margin: 0;*/
/*}*/